{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<div class="overlay"></div>
<div class="content-wrapper">
    <div class="bg-white p-8 rounded-lg shadow-lg max-w-md w-full">
        <h2 class="text-2xl font-bold mb-6">新規登録</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-4">
                <label for="username" class="block text-gray-700 font-bold">ユーザー名:</label>
                <input type="text" id="username" name="username" required class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 px-3 py-2">
                <p class="text-gray-600 text-sm mt-1">必須です。半角アルファベット、半角数字、@/./+/-/_ </p>
            </div>
            <div class="mb-4">
                <label for="password1" class="block text-gray-700 font-bold">パスワード:</label>
                <input type="password" id="password1" name="password1" required class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 px-3 py-2">
                <p class="text-gray-600 text-sm mt-1">
                    最低8文字以上必要です。<br>
                    数字だけのパスワードにはできません。
                </p>
            </div>
            <div class="mb-6">
                <label for="password2" class="block text-gray-700 font-bold">パスワード(確認用):</label>
                <input type="password" id="password2" name="password2" required class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 px-3 py-2">

            </div>
            <button type="submit" class="w-full bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">登録</button>
        </form>
    </div>
</div>
{% endblock %}
